apiVersion: v1
kind: Secret
metadata:
  name: tap-operator-copy-packages-credentials
  namespace: tap-operator
type: Opaque
stringData:
  IMGPKG_REGISTRY_HOSTNAME_0=registry.tanzu.vmware.com
  IMGPKG_REGISTRY_USERNAME_0=bmoussaud@vmware.com 
  IMGPKG_REGISTRY_PASSWORD_0=xxxxxxxxxx
  IMGPKG_REGISTRY_HOSTNAME_1=akseutap7registry.azurecr.io
  IMGPKG_REGISTRY_USERNAME_1=9df380af-abcd-45d6-edfc-26d2fd0b1db2
  IMGPKG_REGISTRY_PASSWORD_1=yyyyyyyyyyyy