apiVersion: v1
kind: Secret
metadata:
  name: tap-operator-copy-packages-credentials
  namespace: tap-operator
type: Opaque
stringData:
  FROM_REGISTRY_HOSTNAME=registry.tanzu.vmware.com
  FROM_REGISTRY_USERNAME=bmoussaud@vmware.com 
  FROM_REGISTRY_PASSWORD=xxxxxxxxxx
  TO_REGISTRY_HOSTNAME=akseutap7registry.azurecr.io
  TO_REGISTRY_USERNAME=9df380af-abcd-45d6-edfc-26d2fd0b1db2
  TO_REGISTRY_PASSWORD=yyyyyyyyyyyy